{$DELUGE_SERVER_NAME} {
  log

  route {
    encode gzip
    reverse_proxy {$DELUGE_HOST}:8112
  }
}

{$PLEX_SERVER_NAME}, tv.salut.lol {
  log

  route {
    encode gzip
    reverse_proxy {$PLEX_HOST}:{$PLEX_WEB_PORT}
  }
}

{$JELLYFIN_SERVER_NAME} {
  log

  route {
    encode gzip
    reverse_proxy {$JELLYFIN_HOST}:8096
  }
}

{$FILERUN_SERVER_NAME} {
  log

  route {
    encode gzip
    reverse_proxy {$FILERUN_HOST}:{$FILERUN_PORT}
  }
}
