{$DELUGE_SERVER_NAME} {
  log

  route {
    encode gzip
    reverse_proxy deluge:8112
  }
}

{$PLEX_SERVER_NAME} {
  log

  route {
    encode gzip
    reverse_proxy plex:32400
  }
}

{$JELLYFIN_SERVER_NAME} {
  log

  route {
    encode gzip
    reverse_proxy jellyfin:8096
  }
}